#USER MUST remove the ".example" from this file name leaving only "login.py"
# USER MUST edit this file with their Songkick Login Info


#store sensitive Songkick Login info here
# THIS FILE IS .GITIGNORE
login = {
    'password' : 'YOUR_SONGKICK_PASSWORD',
    'username' : 'YOUR_SONGKICK_EMAIL_OR_USERNAME'
}
